<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="logo" src="https://staticaltmetric.s3.amazonaws.com/uploads/2015/10/dark-logo-for-site.png" alt="logo">
  <div class="search">
    <mat-icon class="search-icon">search</mat-icon>
    <input type="text" placeholder="Search for anything">
  </div>
  <button mat-icon-button class="notifications">
    <mat-icon>notifications_none</mat-icon>
  </button>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>

  <button class="user" mat-button [matMenuTriggerFor]="appMenu">
    <img class="avatar" src="http://brandmark.io/logo-rank/random/pepsi.png" alt="avatar">
    <span>Hi, Michael</span>
  </button>
</mat-toolbar>