mat-drawer-container {
  height: 100%;
  background: #f3f7f9;
}

mat-drawer {
  background: #f8fafc;
  box-shadow: 2px 0 10px 3px #cccccc21;
}

main {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}