.games {
  height: 100%;
  box-sizing: border-box;
  padding: 30px 20px;

  .toolbar {
    padding: 0 20px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    .tab {
      margin: 0 40px;
      button {
        padding: 16px 30px;
        &.active {
          border-bottom: 3px solid #f52d72;
        }
      }
    }
  }

  .viewTrigger {
    display: flex;
  }

  .tabHeader {
    display: flex;
    justify-content: space-between;
    .action {
      background: #2fe2b2;
      color: #fff;
    }
    .title {
      font-weight: bold;
      font-size: 18px;
    }
  }

  .cards {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .card {
      width: calc(100% / 3 - 10px);
      background: #25b7ec;
      padding: 15px;
      box-sizing: border-box;
    }
    .cardHead {
      display: flex;
    }
    .button {
      color: #fff;
      border-radius: 50px;
      background: rgba(#000, .3);
      display: flex;
      align-items: center;
      padding: 2px 8px;
      margin-right: 10px;
    }
    .rating mat-icon {
      color: #ffd96f;
    }
  }
}